
.wrapper{
    width: 1200px;
    margin: 0 auto;
    height:40px;
    padding: 50px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 128px;
}